@tailwind base;
@tailwind components;
@tailwind utilities;
body, button, input, select, textarea {
  margin: 0;
  font: Eina\ 01,Helvetica Neue,Helvetica,Arial,PingFang SC,Hiragino Sans GB,Heiti SC,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.rdt_TableCol {
  /* color:black; */
  font-weight: bolder;
  font-size: 14px;
  }
  
  .rdt_Pagination{
    color: gray;
  }
/* 
  .rdt_TableHead {
    background-color:lightgray;
    color:black
  } */